@page { margin: 0; }

html {
/*
    max-width: 21cm;
    max-height: 29,7cm;
*/
}

.smeg {
    float: left;
    min-width: 21cm;
    min-height: 2.4cm;
    border: 1px solid green;
}

body {
    background: black;
    color: white;
/*
*/
    text-align: center;
    margin-top: 2.3cm;
    margin-left: 1.5cm;
}

* {
    box-sizing: border-box;
}

.container {
}

.label {
    float: left;
    width: 8.9cm;
    max-width: 8.9cm;
    min-width: 8.9cm;
    height: 4.183333333cm;
    min-height: 4.1cm;
}

.right {
    margin-left: 3mm;
}

.top, .middle, .bottom {
    vertical-align: middle;
}

.top, .middle {
    height: 1.5cm;
    min-height: 1.5cm;
}

.top {
    background-image: url("logo.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.middle {
    margin-left: 0.25cm;
    margin-right: 0.25cm;
}

.bottom {
    margin-top: 1.3em;
    height: 1cm;
    min-height: 1cm;
/*
    color: white;
*/
}

h1 {
    font-size: 0.8cm;
    font-weight: bold;
}

.logo {
    position: absolute;
    width: 2in;
    top: -0.05in;
    left: 1.48in;
}

.eyes, .vic20 {
    width: 1cm;
}

.eyes {
    float: left;
}

.vic20 {
    float: right;
}
