@page { margin: 0; }

html {
    max-width: 21cm;
}

body {
    text-align: center;
    margin-top: 2.3cm;
    margin-left: 1.5cm;
}

* {
    box-sizing: border-box;
}

.container {
}

.label {
    float: left;
    width: 8.9cm;
    max-width: 8.9cm;
    min-width: 8.9cm;
    height: 4.2cm;
    min-height: 4.2cm;
}

.right {
    margin-left: 2mm;
}

.top, .middle, .bottom {
    vertical-align: middle;
}

.top, .middle {
    height: 1.5cm;
    min-height: 1.5cm;
}

.middle {
    margin-left: 0.25cm;
    margin-right: 0.25cm;
}

.bottom {
    height: 1cm;
    min-height: 1cm;
}

h1 {
    font-size: 0.8cm;
    font-weight: bold;
}

.logo {
    position: absolute;
    width: 2in;
    top: -0.05in;
    left: 1.48in;
}

.eyes, .vic20 {
    width: 1cm;
}

.eyes {
    float: left;
}

.vic20 {
    float: right;
}
