.container {
    height: 4in;
    min-height: 4in;
    overflow: hidden;
}

.page {
    float: left;
    border: 1px black;
    font-size: .125in;
    min-height: inherit;
}

h1 {
    font-size: .18in;
}

.tail {
    width: 1.25cm;
    max-width: 1.25cm;
    min-width: 1.25cm;
}

.spine {
    width: 0.6cm;
    max-width: 0.6cm;
    min-width: 0.6cm;
}

.front {
    width: 5.4cm;
    max-width: 5.4cm;
    min-width: 5.4cm;
}

.page1 {
    width: 5.39cm;
    max-width: 5.39cm;
    min-width: 5.39cm;
}

.page2 {
    width: 5.38cm;
    max-width: 5.38cm;
    min-width: 5.38cm;
}

.page3 {
    width: 5.37cm;
    max-width: 5.37cm;
    min-width: 5.37cm;
}

.page4 {
    width: 5.36cm;
    max-width: 5.36cm;
    min-width: 5.36cm;
}
