* {
    box-sizing: border-box;
}

.container {
    height: 4in;
    min-height: 4in;
    overflow: hidden;
}

.page {
    float: left;
    border: 1px black;
    font-size: .125in;
    min-height: inherit;
}

h1 {
    font-size: .18in;
}

.tail {
    width: 2.4cm;
    max-width: 2.4cm;
    min-width: 2.4cm;
}

.spine {
    width: 1.5cm;
    max-width: 1.5cm;
    min-width: 1.5cm;
}

.front {
    width: 2.5625in;
    max-width: 2.5625in;
    min-width: 2.5625in;
}

.page1 {
    width: 2.5in;
    max-width: 2.5in;
    min-width: 2.5in;
}

.page2 {
    width: 2.4375in;
    max-width: 2.4375in;
    min-width: 2.4375in;
}

.page3 {
    width: 2.375in;
    max-width: 2.375in;
    min-width: 2.375in;
}

.page4 {
    width: 2.3125in;
    max-width: 2.3125in;
    min-width: 2.3125in;
}

.page5 {
    width: 2.25in;
    max-width: 2.25in;
    min-width: 2.25in;
}
