@page {
    margin: 0;
}

body {
    margin-top: 4mm;
    margin-left: 4mm;
}

h1 {
    font-size: .18in;
}

.cover {
    background-image: url("pulsecover3.jpg");
    background-size: 5.2in;
    background-position: 10%;
}

.logo {
    position: absolute;
    width: 2in;
    top: 0.1in; /* -0.05in; */
    left: 1.68748in; /* 1.53in; */
}

.vic20 {
    position: absolute;
    width: 1in;
    top: 3.60748in; /* 3.45in; */
    left: 1,73248in; /* 1.575in; */
}

.vic20small {
    position: absolute;
    width: .5in;
    top: 0,15748in; /* 0; */
    left: 1.15248in; /* .995in; */
}

.eyes_spine {
    position: absolute;
    width: .5in;
    top: 3.57748in; /* 3.42in; */
    left: 1.15248in; /* .995in; */
}

.tail,
.spine {
    background-color: black;
    background-image: url("vertical_logo.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

ol {
    margin-left: 1.5em;
    list-style-type: decimal;
}

em {
    font-style: italic;
}

h1, b {
    font-weight: bold;
}

.denial {
    text-align: center;
}

.distribution * {
    margin: 0;
}

.storyend {
    margin-bottom: .3in;
}

hr {
    width: 33.33%;
}
